<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample EJS</title>
  </head>
  <body>
    <h1>This is sample EJS</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus
      pariatur iure nobis quo, aspernatur molestiae in deleniti quia est sint
      distinctio dignissimos accusamus dolores cumque molestias dolore. Iste, a.
      Temporibus saepe cum iste quisquam. Voluptatibus recusandae porro atque
      facere corporis pariatur blanditiis, magnam ipsa harum eos. Excepturi aut,
      sint laborum beatae, praesentium consequatur officia aliquam iure
      assumenda quae officiis! Error a illo architecto voluptates reiciendis
      iure ratione accusamus placeat officiis molestias blanditiis, id, ea
      cupiditate quisquam. Numquam, qui ullam quod commodi delectus corrupti
      nemo sed sunt, voluptatem nostrum rem? Eos, similique veritatis eveniet
      nesciunt quasi quaerat nemo sapiente esse consectetur, officia ad aliquid
      ipsam culpa ea, ab tenetur quas nostrum. Quaerat minima omnis eos ut
      corrupti et nam ullam! Rem veniam optio consequatur quia voluptatem vel
      dicta quo nulla ab, sapiente placeat quos, libero perferendis officia
      molestias ut vitae necessitatibus saepe quod! Dolor tempore rem dolores
      laborum cumque quaerat. Iste, ratione quod. Dolorum at minus expedita
      ipsam aliquam quae, libero accusantium voluptatum porro aut sapiente
      pariatur eaque similique adipisci temporibus cupiditate odit nobis fugit?
      Aut laboriosam reprehenderit corporis incidunt. Officia aliquid itaque at
      fugiat, repudiandae fugit. Dolor obcaecati nihil neque odio. Nobis facere
      numquam eveniet culpa, alias, assumenda fuga veritatis deleniti distinctio
      ab hic id aperiam. Odio, necessitatibus expedita. Sapiente, quisquam optio
      quis qui autem ipsa fugit. Iusto explicabo eveniet blanditiis minus
      architecto, a quod quo adipisci deserunt non, debitis voluptatem fugiat
      sapiente in voluptates dolore tempora hic natus. Voluptatibus quod
      voluptatum, quasi sequi corporis cupiditate blanditiis, harum repellendus
      repellat aperiam perspiciatis cum veniam aliquid! Natus, inventore velit
      libero dignissimos dicta impedit, iste modi amet sequi et debitis
      aspernatur. Id sequi voluptates reprehenderit aspernatur soluta sit
      accusamus totam alias voluptate harum quae aliquid molestias dicta
      adipisci veritatis beatae reiciendis vero aut repudiandae, itaque nihil
      veniam! Sint est numquam ad. Aliquam dolores nulla voluptates mollitia
      reiciendis ea iusto voluptatum. Deserunt similique fuga modi sequi quidem
      mollitia perspiciatis excepturi possimus amet rerum reiciendis culpa,
      quibusdam, iusto debitis ad nihil eos consequuntur? Ullam voluptatem
      reprehenderit quibusdam fugit, non, mollitia iste similique rem blanditiis
      magni molestias fuga incidunt neque quia delectus iure numquam alias quam
      recusandae nihil. Est expedita at nulla! Voluptate, doloremque? Id neque
      optio quas sint, deleniti fugit doloremque rem maxime quod, nostrum nam
      similique recusandae a sunt eos. Consequatur vitae autem voluptatem
      delectus nostrum explicabo suscipit aliquam facere reprehenderit illum.
      Facere quod inventore dolores consequuntur quis nobis, dicta facilis sunt,
      commodi vel qui quos necessitatibus? Mollitia doloremque dolorem nesciunt
      rerum fugiat porro minima distinctio at earum, exercitationem molestiae
      consequuntur! Non? Alias deserunt fugiat explicabo distinctio harum
      molestiae commodi porro nulla sapiente. Nihil quas aperiam, modi
      temporibus sunt maxime obcaecati odit nisi veritatis! Odio cumque placeat
      deleniti, et blanditiis quos impedit. Impedit at dolore cum eos
      exercitationem repudiandae, temporibus soluta velit porro voluptatibus
      magnam aspernatur, quia aliquam, assumenda non possimus nesciunt qui
      tenetur reiciendis tempore? Quod nemo nobis doloremque sunt non! Optio
      facere repudiandae, nobis voluptates necessitatibus atque repellat in
      possimus consectetur, neque debitis alias porro aliquid quam provident
      doloremque ducimus ab sequi quaerat dolorum veniam illum maiores. Ab,
      obcaecati cumque? Non voluptatum at incidunt velit labore. Odit facilis
      deleniti incidunt magnam explicabo, repudiandae nam saepe voluptas, ab at
      soluta, dolorum consectetur quam accusantium neque reprehenderit corporis.
      Culpa, debitis laudantium. Tempore? Explicabo id deleniti quaerat quas
      dolore, ipsam similique itaque voluptatum quis ullam ipsa debitis sunt
      expedita dolores totam voluptatibus velit. Hic provident mollitia cum eos
      quisquam illum sit amet. Nobis. Possimus non accusamus similique
      repudiandae vero! Vitae accusamus dolores voluptatem. Nesciunt optio iusto
      ullam ducimus, rem voluptatibus illum. Porro possimus odit soluta quas
      commodi quod nam reiciendis accusamus! Repellendus, ullam!
    </p>

    <!-- interpollation syntax -->
    <h3><%=2+4%></h3>
    <h3><%="lukesh poddar".toUpperCase()%></h3>

    <button>Click Me!</button>
  </body>
</html>
